@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

}
.app{
 padding: 0px;
 overflow: hidden;
}

.cd{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.chart-container{
  width: 70 0px;
  height: 500px;
}
.loader{
  width: 200px;
  height: 200px;
  align-self: center;
}
.select-menu-paper {
  padding: 0;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
  width: 100vw; /* Adjust the width as needed */
  position: fixed; /* Ensures the loader stays fixed in the viewport */
  top: 0;
  left: 0;
  background-color: rgba(96, 91, 91, 0.183); /* Add a semi-transparent background */
  z-index: 9999; /* Ensures the loader is on top of other elements */
}